
services:
  mariadb:
    image: mariadb:11.4
    container_name: mariadb
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - ./mariadb_data:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d
    networks:
      - metabase-net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: unless-stopped
    depends_on:
      - mariadb
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    ports:
      - "${PHPMYADMIN_PORT}:80"
    networks:
      - metabase-net

  metabase:
    image: metabase/metabase:latest # v0.49.8
    container_name: metabase
    restart: unless-stopped
    depends_on:
      - mariadb
    ports:
      - "${METABASE_PORT}:3000"
    environment:
      MB_LOG_LEVEL: debug
    volumes:
      - ./metabase_data:/metabase-data
    networks:
      - metabase-net

networks:
  metabase-net:

